body {
  margin: 0 auto;
  background-color: grey;
}


header {
  background-color: rgb(0, 0, 0);
  margin-top: 0px;
}

h1 {
  text-align: center;
}

.style {
  font-size: 40px;
  color: aquamarine;
}

.cloud {
    background-image: url('./images/cloud.png');
    background-size: cover;
    height: 260px;
    width: 750px;
    margin-left: 880px;
    background-position: center;
  }

  .instagram {
    background-image: url('./images/instagram_PNG15.png');
    background-size: cover;
    height: 75px;
    width: 75px;
    background-position: center;
  }

  .youtube {
    background-image: url('./images/youtube_PNG8.png');
    background-size: cover;
    height: 75px;
    width: 75px;
    background-position: center;
  }

.test {
    color: red;
    padding-top: 100px;
    width: 100%;
    font-family: cursive;
    text-align: center;
}

h2 {
  text-align: center;
}

.button {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
  height: 25px;
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

.button:hover {
  color: rgb(9, 238, 123);
}

.welcome {
  background-color: white;
}