.image {
    background-image: url('./images/cloud.png');
    background-size: cover;
    height: 800px;
    width: 1100px;
  }
.test {
    color: red;
    padding-top: 100px;
    width: 100%;
    font-family: cursive;
    text-align: center;
}