.image {
    background-image: url('./images/cloud.png');
    background-size: cover;
    height: 260px;
    width: 750px;
    margin-left: 880px;
    background-position: center;
  }
.test {
    color: red;
    padding-top: 100px;
    width: 100%;
    font-family: cursive;
    text-align: center;
}

.button {
  
}