div {
    /* inset shadow for visual aid only: allow to easily see the div boundaries */
    box-shadow: 10px 10px rgb(127, 201, 153);
    background-color: rgb(69, 69, 69);
  }
  
  #contentBox {
    margin: auto;
    width: 80%;
    font-size: 60px;
  }
  
  #contentBox .column {
    float: left;
    margin-top: 20px;
    width: 33%;
    font-family: monospace;
    text-align: center;
    color: white;
  }
  
  .proj-font {
    font-size: 40px;
    font-family: monospace;
    text-align: center;
    color: white;
  }
