body {
  margin: 0 auto;
}

header {
  position: sticky;
  top:0;
  padding: 0px;
  text-align: center;
}

.topheader {
  background-image: linear-gradient(to right, rgb(255, 109, 236), rgb(0, 140, 255));
  padding-top: 0px;
  margin-bottom: 0px;
  z-index: 1;
}

.bottomheader {
  background-color: black;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  margin-top: 0px;
  z-index: 1;
}

.footer {
  background-color: black;
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: block;
  margin-top: 0px;
  text-align: center;
}

.foot {
  margin-left: auto;
  margin-right: auto;
}

.quote {
  background-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.quotetext {
  width: 100%;
  color: white;
  font-size: 25px;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  text-align: center;
}


.maintextfrontpage {
  font-size: 100px;
  color: rgb(144, 107, 166);
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.cloud {
  height: 80px;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.socials {
  height: 100px;
  width: 100px;
}


.test {
  color: red;
  padding-top: 50px;
  width: 100%;
  font-family: cursive;
  text-align: center;
}

h2 {
  text-align: center;
}

.button {
  font-family:'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
  color: aliceblue;
  height: 25px;
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

.button:hover {
  color: rgb(127, 201, 153);
}

.welcome {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about {
  padding-right: 100px;
  padding-left: 100px;
  text-align: center;
  font-size: 32px;
  font-family: monospace;
  color: black;
}

.printer {
  float: left;
  width: 15%;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 25px;
}

.air0tekinfo {
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  font-size: 25px;
  font-family: monospace;
  color: black;
}

.seder {
 text-align: center;
 font-size: 15px;
 font-family: monospace;
 color: black;
}

.bottom {
  padding-top: 100px;
  text-align: center;
}
.about-back {
  background-image: url(../images/aboutback.PNG);
  background-size: cover;
}

.contact {
  text-align: center;
  font-size: 15px;
  font-family: monospace;
  color: black;
}

.gal {
  margin-left: auto;
  margin-right: auto;
}

.camera {
  float: right;
  width: 20%;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 25px;
}

.aligncenter {
  display: inline-block;
  border-radius: 8px; 
}

div.picwrapper {
  text-align: center;
}

.doorText {
  color: white;
  font-family: 'Lucida Handwriting';
  font-size: 75px;
  text-shadow: -4px 4px 6px #000,
				  4px 4px 6px #000,
				  4px -4px 6px #000,
				  -4px -4px 6px #000;
  padding-top: 175px;
  padding-bottom: px;
}

.datetime {
  color: white;
  font-family: 'Verdana';
  font-size: 50px;
  text-shadow: 0 0 10px black;
  padding-left: 100px;
  float: left;
}

.datetime2 {
  color: white;
  font-family: 'Verdana';
  font-size: 50px;
  padding-right: 100px;
  float: right;
  text-shadow: 0 0 10px black;
}

.doorFeed {
  padding-left: 100px;
  padding-right: 100px;
}

.instaPlug {
  color: white;
  text-shadow: 0 0 10px black;
  font-family: sans-serif;
  display:inline-block;
}

.instaTag {
  color:white;
  text-shadow: 0 0 10px black;
  font-style: oblique;
  display: inline-block;
  padding-left: 25px;
}