body {
  margin: 0 auto;
  background-color: white;
}

header {
  position: sticky;
  top:0;
  padding: 0px;
  text-align: center;
}

.topheader {
  background-color: rgb(69, 69, 69);
  padding-top: 10px;
  margin-bottom: 0px;
}

.bottomheader {
  background-color: black;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  margin-top: 0px;
}

.footer {
  background-color: rgb(69, 69, 69);
  padding: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  margin-top: 0px;
  text-align: center;
}

.foot {
  margin-left: auto;
  margin-right: auto;
}

.quote {
  background-color: rgb(69, 69, 69);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.quotetext {
  color: white;
  font-size: 30px;
  font-style: italic;+
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

.style {
  font-size: 55px;
  color: rgb(144, 107, 166);
  margin-top: auto;
  font-style: monospace;
}

.maintextfrontpage {
  font-size: 100px;
  color: rgb(144, 107, 166);
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.cloud {
  height: 80px;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.socials {
  height: 100px;
  width: 100px;
}

.test {
  color: red;
  padding-top: 5000px;
  width: 100%;
  font-family: cursive;
  text-align: center;
}

h2 {
  text-align: center;
}

.button {
  font-family:'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
  color: aliceblue;
  height: 25px;
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

.button:hover {
  color: rgb(127, 201, 153);
}

.welcome {
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about {
  text-align: center;
  font-size: 50px;
  font-family: monospace;
  color: black;
}

.seder {
 text-align: center;
 font-size: 20px;
 font-family: monospace;
 color: black;
}

.about-back {
  background-image: url(../images/aboutback.PNG);
  background-size: cover;
}

.contact {
  text-align: center;
  font-size: 20px;
  font-family: monospace;
  color: black;
}

.gal {
  margin-left: auto;
  margin-right: auto;
}
